
body
{
   width: 1002px;
   margin: 0 auto;
}


#program 
{
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
}

#topMenu
{
    width: 100%;
    height: 100px;
  
}
#leftMenu
{
    width: 200px;
    height:502px;
   
}

canvas
{
   
    
}